.tweet-wrapper {
    background: #fbfbfd;
    /*height: 50px;*/
    margin-top: 8px;
    border: thin solid #c1d3ff;
    display: inline-block;
    width: 100%;
}
.tweet-text{
    width: 90%;
    margin: 2px auto;
}
.user-wrapper {
    width: 100%;
    padding: 5px;

}

.user-img, .user-info {
    float: left;
}

.user-img {
    width: 15%;
}
